<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">NoSQL and Handlebars</h1>
        <p class="lead"></p>A simple tool to see what's Funny on Reddit!</p>
        <hr class="my-4">
        <p>It pulls the most recent upvoted posts from reddit.com/r/funny into an easy to use format</p>
            <div id="wrapper">
                <h1>Note Scraper</h1>
                <h2>
                    <i>Hello r/funny</i>
                    <br>
                    <button type="button" class="btn btn-primary" id="getstarted" >See Old Posts</button>
                    <button type="button" class="btn btn-primary" id="scrape" ><a href="/scrape"> Get New Posts</button></a>

                </h2>
                <div id="funnies"></div>
                <div id="notes"></div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </div>
</div>