a:link, a:visited {
    background-color: light rgb(0, 166, 255);
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: blue;
}